<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
    href="{{ '/feed.xml' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/favicon.png' | relative_url }}">



  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">


  <script>
    const defaultTheme = "{{ site.data.settings.color_scheme.default }}";
    const isToggleEnabled = {{ site.data.settings.color_scheme.toggle | jsonify }};
    const userTheme = localStorage.getItem("theme");

    function setTheme(mode) {
      if (mode === "dark") {
        document.documentElement.setAttribute("dark", "");
        document.documentElement.classList.add("dark-mode");
      } else if (mode === "light") {
        document.documentElement.removeAttribute("dark");
        document.documentElement.classList.remove("dark-mode");
      }
    }

    if (isToggleEnabled) {
      if (userTheme) {
        setTheme(userTheme);
      } else {
        setTheme(defaultTheme);
      }
    } else {
      setTheme(defaultTheme);
    }

    if (localStorage.getItem("classView") === "list") {
      document.documentElement.setAttribute("list", "");
      document.documentElement.classList.add('view-list');
    }
  </script>

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en', // Original Language
        includedLanguages: 'de,en,fr,es,it,ja,ko,zh-CN',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        autoDisplay: false
      }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>