<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo or site.data.settings.logo_dark %}
          <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          <img class="logo__image__dark" src="{{ site.baseurl }}{{ site.data.settings.logo_dark }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">
              {% for item in site.data.settings.menu_settings.menu_items %}
              {% if item.submenu %}
              <li class="nav__item dropdown">
                <div class="dropdown-toggle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="4" fill="none">
                    <circle cx="2" cy="2" r="2" fill="var(--link-color)"/>
                    <circle cx="10" cy="2" r="2" fill="var(--link-color)"/>
                    <circle cx="18" cy="2" r="2" fill="var(--link-color)"/>
                  </svg>
                </div>
                <div class="dropdown-menu">
                  {% for submenu-item in item.submenu %}
                  <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                  {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav__item">
                <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          {% if site.data.settings.color_scheme.toggle == true %}
          <div class="color-scheme-button">
            <div class="toggle-theme">
              <div class="toggle-moon" title="Enable dark mode" aria-hidden="true">
                <svg width="15" height="15" viewBox="0 0 1472 1536" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1464 1090q-94 203-283 323.5T768 1536q-157-1-299-62t-244.5-163.5T61 1066T0 768q0-205 97.5-378t267-276.5T738 2q43-2 62 38q17 42-16 72q-176 164-176 400q0 111 43 211.5t115 173t172.5 116T1151 1056q119 0 228-51q41-18 72 13t13 72"/>
                </svg>
              </div>
              <div class="toggle-sun" title="Enable light mode" aria-hidden="true">
                <svg width="15" height="15" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                  <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                    <path stroke-linecap="round" d="m9.15 9.15l2.228 2.228M3 24h3.15m3 14.85l2.228-2.228M38.85 38.85l-2.228-2.228M45 24h-3.15m-3-14.85l-2.228 2.228M24 3v3.15"/>
                    <path fill="currentColor" d="M24 36c6.627 0 12-5.373 12-12s-5.373-12-12-12s-12 5.373-12 12s5.373 12 12 12Z"/>
                    <path stroke-linecap="round" d="M24 45v-3.15"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="search-button">
            <svg class="search-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
            <span class="search-button__text">Search posts...</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->

{% include search.html %}