{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
<!-- begin pagination -->
<div class="pagination animate">
  <div class="load-more-section">
    <button class="load-more-posts button button--primary">Load More</button>
  </div>
</div>
<!-- end pagination -->
{% endif %}

<script>
  var base_url = "",
    pagination_next_url = base_url + "{{ '/page2' | relative_url }}",
    pagination_next_page_number = "{{ paginator.next_page }}",
    pagination_available_pages_number = "{{ paginator.total_pages }}";
</script>