<div class="post__navigation">
  {% if page.previous.url %}
  <div class="post__prev">
    {% if page.previous.image %}
    <a href="{{ page.previous.url | relative_url }}" class="prev__image">
      {% if page.previous.video_embed %}
      <div class="video-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <polygon points="40,30 70,50 40,70"></polygon>
        </svg>
      </div>
      {% endif %}
      <img class="lazy" data-src="{{ page.previous.image | relative_url }}" alt="{{ page.title }}">
    </a>
    {% endif %}
    <div class="prev__box">
      <span class="post__nav__prev">Older post</span>
      <h2 class="post__nav__title"><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a></h2>
    </div>
  </div>
  {% endif %}

  {% if page.next.url %}
  <div class="post__next">
    <div class="next__box">
      <span class="post__nav__next">Newer post</span>
      <h2 class="post__nav__title"><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a></h2>
    </div>
    {% if page.next.image %}
    <a href="{{ page.next.url | relative_url }}" class="next__image">
      {% if page.next.video_embed %}
      <div class="video-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <polygon points="40,30 70,50 40,70"></polygon>
        </svg>
      </div>
      {% endif %}
      <img class="lazy" data-src="{{ page.next.image | relative_url }}" alt="{{ page.title }}">
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>