<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Categories</span></h5>
            <ul style="list-none;">

            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>About</span></h5>
           <img src="{{site.baseurl}}/assets/images/Akhil.jpg" alt="Akhil Abraham George" /></a>
        </div>
            
</div>