/**
 * Shared declarations for certain elements.
 */

ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 32px;
}


/**
 * Consistent indentation for lists.
 */

ul, ol,
dd {
  list-style-position: inside;
  margin-bottom: 4px;
}