<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">
    {% include header.html %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->

    {% include footer.html %}
  </div>
  <!-- end global wrap -->

  <div class="top" title="Top"><i class="fa-solid fa-arrow-up"></i></div>

  <div class="images-overlay"></div>

  <script src="{{ '/js/scripts.js' | relative_url }}"></script>
  <script src="{{ '/js/common.js' | relative_url }}"></script>
</body>

</html>